scipy==1.2.1
scikit_image==0.14.2
matplotlib==3.0.3
torchvision==0.2.1
numpy==1.21.0
tqdm==4.31.1
visdom==0.1.8.8
torch==1.0.0
Pillow==9.0.0
protobuf==3.15.0
skimage==0.0
tensorboardX==1.6
PyYAML==5.4
